
<footer>
    <div>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
  powered_by &nbsp;<a href="http://hexo.io/" target="_blank">Hexo</a> theme by <a href="https://github.com/gzw95322/hexo-theme-stingy" target="_blank">stingy</a></div>
    <%- partial('_partial/footer-nav', null, {cache: !config.relative_link}) %>
</footer>

<script src="https://cdn.bootcss.com/jquery/2.0.3/jquery.js"></script>
<% if (theme.fancybox){ %>
  <%- css('fancybox/jquery.fancybox') %>
  <%- js('fancybox/jquery.fancybox.pack') %>
<% } %>
<%- js('js/script') %>
  
<div id="backtotop" class="animited pullback"><em></em><i></i><span>BACK<br>TO<br>TO<br>TOP</span></div>
<%- partial('_partial/post/tongji') %>